<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Generic Party </title>
<link href="generic.css.scss" rel="stylesheet" type="text/css" />


</head>

<body onload="initialize()">

<div id="wrapper">
	
	<div id="container">
		<div id="sidebar-left">
		
			
		</div>
		
		<div id="content">
			
			<div id="profile">
					<hr/>					
					<span id="pitt">
					<img src="images/gen.jpg" width=100%/>
					</span>
					<hr/><div id="menu-bar">
		<div id="menu-links">
								<a href="index.htm">Baby Shower</a>
				<a href="index2.htm">Birthday Party</a>
				<a href="index3.htm">Graduation Party</a>
				<a href="index4.htm">Genetic Party</a>

		</div>
	</div><div id="header">
		<div id="logo">
			<img id="logo-img" src="images/image.jpg"/>
		</div>
		<p id="banner"> RENT-A-CAR____________________</p>
    </div><p><a class="head" name="Profile">Profile</a></p>
					
					<p><i>If you are looking for a simple way to get around the city, I can offer you the best deals in town. </p>
					
					<p><i>With six (6) years of experience in marketing and the automobile industry, I have great confidence in saying that our firm does indeed offer our customers the best deals. Be it prices, choices of vehicles, flexibility in payment; we have it all. Prior to the job at Swift Car Rental, I&#8217;ve also worked with several other rental firms that are international and have worked in different parts of the Middle-East.</p>
					
					<p><i>Prefer only a Rolls Royce or a luxury car? I will work with you to find your ideal rental. </p>   					

					<ul>
						<li>First-time rental in Doha - I enjoy working with first-timers will be happy to guide you from start to finish. </li>
						<li>Full-time agent </li>
						<li>I will always return your calls and e-mails promptly </li>
						<li>Professional & personalized service </li> 
					</ul>


				<p><a class="head" name="Testimonials">Testimonials</a></p>
				<p>"we were new to the place and I wanted to rent a car for a couple of months since I wanted to look around a bit before deciding which car to buy. Steve introduced me to the packages that were available and I was really impressed to see the rates. It was by far the best rates when compared to some other rent-a-car companies that I visited. I still am using the rented car and am paying on a monthly basis. It's been very smooth working with steve"</p>
				<p>"I visited Doha for a week and had rented a car from Swift Car Rental. I had established contact with Steve over e-mail prior to arriving in Doha and I had done the booking beforehand. Steve was very prompt in responding to e-mails and I received confirmation a week before arriving to Doha itself. The car was exactly like how I wanted it to be and it was a pleasure driving around Doha in it!" </p>
				<p>"Our firm wanted to get 8 cars for 3 days since we were visiting Doha and had back to back meetings there. I luckily happened to meet Mr. Steve Smith at the marketing event in the hotel and he informed me about the availability. I immediately made the reservations and he also helped us out on the registrations and other paper work. The cars were really good too."</p>
			



				</div>		
			
			

			<div id="vehicles">
			
				<p><a class="head" name="vehicleListings" id="vehicleListing">Vehicle Listings</a></p>
				
				<table id="listings">
					<tr>
						<th class="carName" colspan="3">Vehicle 1: Toyota Yaris</th>
					</tr>
					<tr>
						<td class="carData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 4-5 <br/>  4<br/> 1300cc <br/> 2010 <br/> Hatchback <br/> 35  <br/> Automatic <br/> QR 80  <br/>Doha International Airport <br/> </td>
					<td> <img id = "car"  src="images/1.jpg"/></td></tr>
					<tr>
						<th class="carName" colspan="3">Vehicle 2: Nissan Altima</th>
					</tr>
					<tr>
						<td class="carData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 4-5 <br/>  4<br/> 2500cc <br/> 2011 <br/> Sedan <br/> 8 (4 Manual, 4 Automatic)    <br/> Manual/Automatic <br/> QR 120  <br/>Lulu Hypermarket, Old Airport Road <br/> </td>
					<td> <img id = "car" src="images/2.jpg" /></td></tr>
					
					<tr>
						<th class="carName" colspan="3">Vehicle 3: Mitsubishi Pajero</th>
					</tr>
					<tr>
						<td class="carData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 6-8 <br/>  6<br/> 3000cc <br/> 2011 <br/> SUV <br/> 12  <br/> Automatic <br/> QR 160  <br/>Sheraton Doha, Al Corniche <br/> </td>
				<td> <img  id = "car" src="images/3.jpg"/></td>	</tr>	
<tr>
						<th class="carName" colspan="3">Vehicle 4: Toyota Hiace</th>
					</tr>
					<tr>
						<td class="carData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 15-20 <br/>  4<br/> 2700cc <br/> 2009 <br/> Minivan <br/> 5  <br/> Manual <br/> QR 250  <br/>Al Wakra <br/> </td> <td> <img id = "car"  src="images/4.jpg" /></td>
</tr>

<tr>
						<th class="carName" colspan="3">Vehicle 5: Honda Accord</th>
					</tr>
					<tr>
						<td class="carData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 4-5 <br/>  4<br/> 2500cc <br/> 2011 <br/> Sedan <br/> 10  <br/> Automatic <br/> QR 130  <br/>Doha International Airport<br/> </td>
<td> <img  id = "car" src="images/5.jpg"  /></td>
					</tr>
<tr>
						<th class="carName" colspan="3">Vehicle 6: Nissan Tiida</th>
					</tr>
					<tr>
						<td class="propData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 4-5 <br/>  4<br/> 1800cc <br/> 2010 <br/> Sedan <br/> 15  <br/> Automatic <br/> QR 90  <br/>Movenpick Hotel, Al Corniche<br/> </td>
					
<td> <img id = "car"  src="images/6.jpg" /></td>
</tr>

<tr>
						<th class="carName" colspan="3">Vehicle 7: Toyota Landcruiser</th>
					</tr>
					<tr>
						<td class="carData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 6-8 <br/>  6<br/> 4500cc <br/> 2010 <br/> SUV <br/> 5  <br/> Manual <br/> QR 185  <br/>Marriott Hotel<br/> </td>
<td> <img id = "car"  src="images/7.jpg"  /></td>					
</tr>
<tr>
						<th class="carName" colspan="3">Vehicle 8: Toyota Hilux</th>
					
</tr>
					<tr>
						<td class="carData">Seating Capacity: <br/>						
						Number of Cylinders:<br/>
						Engine:	<br/>
						Model:	<br/>
						Hatchback/Sedan/SUV: <br/>
						Quantity Available:<br/>
						Transmission:<br/>
						Price per day:<br/>
						Pickup Location:<br/>
		</td>
						
						<td class="carDesc"> 4-5 <br/>  4<br/> 2700cc <br/> 2010 <br/> Pickup <br/> 3  <br/> Manual <br/> QR 140  <br/>Ramadan Signal, C-Ring Road <br/> </td>
					
<td> <img id = "car"  src="images/8.jpg"  /></td>
</tr>
				</table>			
			
			</div>		
		
		
		</div>
		
		<div id="sidebar-right"><div id ="sidebar-left">
<div id="agentInformation">
				<p><a class="head" name="agentInformation" id="agentInformation">Agent Information</a></p>
				<p>Steve A. Smith<br/>
				Sales Executive<br/>
				Swift Car Rental: Your simple solution for moving around the cty.</p>
					
					<iframe width="160" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=45+Luqta+Street+Doha,+Qatar+&amp;ie=UTF8&amp;hq=&amp;hnear=Al+Luqta+St,+Doha,+Ad+Dawhah,+Qatar&amp;t=h&amp;z=14&amp;vpsrc=0&amp;ll=25.319884,51.456551&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=45+Luqta+Street+Doha,+Qatar+&amp;ie=UTF8&amp;hq=&amp;hnear=Al+Luqta+St,+Doha,+Ad+Dawhah,+Qatar&amp;t=h&amp;z=14&amp;vpsrc=0&amp;ll=25.319884,51.456551" style="color:#0000FF;text-align:left">View Larger Map</a></small> <div id="map_canvas" style="width:100%; height:100%"></div>

				<p>Office:<br/>
				45 Luqta Street<br/>
				Doha, Qatar <br/>
				88855549</p>
				
				<p>Email<br/>
				<a href="mailto:sasmith@swiftcarrental.com">sasmith@swiftcarrental.com</a></p>
	
			</div>

	</div>
			<div id="agentInformation">
				<p><a class="head" name="Designations" id="agentInformation">Designations</a></p>
				<ul>
				<li>Vehicle Administration Specialist</li> 
				<li>Marketing Manager</li>
				<li>Sales Representative</li>
				<li>Corporate Responsibility Officer</li>
				</ul>
				<p><a class="head" name="Professional Affiliations" id="agentInformation">Professional Affiliations</a></p>
				<ul>
				<li>HGD Bank</li>
				<li>VISTA Car rental</li>
				<li>Thrifty Rent-A-Car</li>
				<li>Orient Transport Services</li>
				</ul>
				
				<p><a class="head" name="Professional Affiliations" id="agentInformation">External Links</a></p>
				<div id="externalLinks">

				<a href="http://www.toyota.com/"> <img src="images/logo_only.jpg"/></a>
				</br></br>		
				<a href="http://www.nissan-global.com/EN/NISSAN/"> <img src="images/logo_nissan.gif" width=90%/></a>
				</br></br>
				<a href="http://www.mercedes-benz.com.qa/content/qatar/mpc/mpc_qatar_website/en/home_mpc/passengercars.flash.skipintro.html"> <img src="images/images.jpg"width=90%/></a>
				</br></br>		
				<a href="http://suzukiauto.com/"> <img src="images/suzuki-logo.png"/></a>
				</br></br>		
				<a href="http://honda.com/"> <img src="images/honda.gif" width=90%/></a>





</div>
			</div>
			
		</div>
	</div>
	<div id="footer">
		<a href="ContactForm.htm">Asma Al-kubaisi</a> :: <a href="listOfFeatures.html">List of Features</a> :: <a href="index2.htm">A link to the other CSS</a>
	</div>
</div>



</body>
</html>
